.auth-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.loginContainer {
  display: flex;
  justify-items: center;
  align-items: center;
  height: 80vh;
}
.loginCard {
  padding: 15px;
  border: 2px solid #ccc;
  border-radius: 8px;
  width: 300px;
}

button {
  color: #fff;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 99px;
  cursor: pointer;
}

.btn {
  display: flex;
  flex-direction: row;
}

#google {
  background-color: #4285F4;
}

#micro {
  background-color: #f14f21;
}

#git {
  background-color: #171515;
}

button:hover {
  background-color: #94a3b8;
}
/* ======================================================================================================================================*/
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-light {
  font-family: "Arial", sans-serif;
  background-color: #e2e8f0;
  margin: 0;
  padding: 2rem;
  display: flex;
  justify-content: space-evenly;
  height: 100vh;
  box-sizing: border-box;
}

.main-dark {
  font-family: "Arial", sans-serif;
  background-color: #1e293b;
  margin: 0;
  padding: 2rem;
  display: flex;
  justify-content: space-evenly;
  height: 100vh;
  box-sizing: border-box;
}

.expense-tracker-container {
  display: flex;
  justify-content: space-around;
}

.container-light {
  background-color: #ffffff;
  width: 30rem;
  height: 35rem;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 30px;
}

.container-dark {
  background-color: #0f172a;
  width: 30rem;
  height: 35rem;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 30px;
}

.expense-tracker {
  margin-right: 1rem;
}

.transactions-light {
  background-color: #ffffff;
  width: 30rem;
  min-height: 30rem;
  padding: 0.3rem;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
}

.transactions-dark {
  background-color: #0f172a;
  width: 30rem;
  min-height: 30rem;
  padding: 0.3rem;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
}

h1.light {
  color: #0f172a;
}

h2.light {
  color: #0f172a;
  font-size: 36px;
  margin: 0;
}

h1.dark {
  color: #ffffff;
}

h2.dark {
  color: #ffffff;
  font-size: 36px;
  margin: 0;
}

.balance-light h3,
.income-light h4,
.expenses-light h4 {
  color: #ff247d;
  margin-bottom: 5px;
}

.balance-dark h3,
.income-dark h4,
.expenses-dark h4 {
  color: #ff247d;
  margin-bottom: 5px;
}

.balance-light h2,
.income-light p,
.expenses-light p {
  color: #0f172a;
  font-size: 24px;
  margin: 0;
}

.balance-dark h2,
.income-dark p,
.expenses-dark p {
  color: #ffffff;
  font-size: 24px;
  margin: 0;
}

.summary {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.add-transaction {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

input {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #bdc3c7;
  border-radius: 4px;
}

label {
  margin-bottom: 5px;
  color: #7f8c8d;
  display: flex;
  justify-content: space-around;
}

button {
  background-color: #3498db;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.transactions-light {
  max-width: 500px;
  margin-top: 20px;
  max-height: 300px; /* Set a maximum height for the container */
  overflow-y: auto; /* Enable vertical scrollbar when content overflows */
}

.transactions-dark {
  max-width: 500px;
  margin-top: 20px;
  max-height: 300px; /* Set a maximum height for the container */
  overflow-y: auto; /* Enable vertical scrollbar when content overflows */
}

.transactions h3 {
  color: #ff247d;
  margin-bottom: 10px;
}

.transactions ul {
  list-style: none;
  padding: 0;
}

h3.light {
  color: #0f172a;
}
h3.dark {
  color: #ffffff;
}

.transactions li {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.transaction-info {
  flex-grow: 1;
}

.transaction-info h4.light {
  margin: 0;
  color: #0f172a;
}

.transaction-info h4.dark {
  margin: 0;
  color: #ffffff;
}

.transaction-info p.light {
  margin: 0;
  color: #0f172a;
}

.transaction-info p.dark {
  margin: 0;
  color: #ffffff;
}

.profile .profile-photo {
  position: relative;
  top: 1rem;
  left: 50rem;
  border-radius: 999px;
}

.sign-out-button {
  position: relative;
  top: 4rem;
  width: 5rem;
  border-radius: 999px;
  background-color: #000000;
  left: 45rem;
}

.theme-btn {
  background-color: #000000;
  position: relative;
  top: -2rem;
  left: 48rem;
  border-radius: 99px;
}
